.review_flex_ss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.review_flex_bc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review_card {
  position: relative !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.review_card_content {
  border-radius: 10px;
}

.client-img {
  width: 120px !important;
  height: 100px !important;
}
