.review_card {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .review_card_content{
      border-radius: 10px;
  }
  
  div.client-img {
      position: absolute;
      top: -50px;
      left: 20%;
      transform: translateX(-50%);
      width: 120px;
      height: 100px;
  }
  div.client-img img {
    width: 100px;
    height: 100px;
  }
  