@media only screen and (max-width: 420px) {
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap;
  }

  .box-content .content{
    display: none !important;
  }

  .box-left {
    flex: 1 !important;
    width: 100% !important;
  }

  .box-right {
    flex: 1;
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .tab-controls {
    padding: 0 0 5px !important;
  }
}

.box-content {
  margin-top: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-content .title{
  font-weight: 700;
}

.box-content .subtitle{
  font-weight:600;
  color: #b32025;
}

.box-left {
  flex: 0.6;
}

.box-right {
  flex: 0.4;
}

.tab-controls {
  padding: 0 30px 15px;
  border-bottom: 1px solid #e6e7e8;
}
.tab-controls {
  display: flex;
}
.tab-controls li {
  width: 50%;
  padding: 0 5px;
}
.tab-controls li > div {
  background: #eaebec;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-content ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaebec;
  transition: all 0.3s;
}
.tab-content ul li.title div {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #888;
  text-transform: uppercase;
  padding: 16px 5px;
}
.tab-content ul li div {
  width: 33%;
  text-align: center;
  padding: 13px 10px;
  font-size: 15px;
  color: #151b2f;
  display: flex;
  align-items: center;
  justify-content: center;
}
