.hero-section {
  background: url("../../assets/maintopimgmin.jpg") no-repeat center
    center/cover;
  padding: 70px 0px 0px 0px;
}

.hero_start_getit{
  display: flex;
  align-items: center !important;
}
