.container_ribbon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box_ribbon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box_ribbon img{
    width: 90px !important;
    height: 90px !important;
}
.flex-1of4 {
  flex: 0.3;
}
.flex-3of4 {
  flex: 0.7;
}

.margin-left-10{
    margin-left: 10px !important;
}