.container_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_ribbon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box_ribbon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box_ribbon img {
  width: 90px !important;
  height: 90px !important;
}

.box_ribbon p {
  color: "#ffffffad";
  font-size: 17px;
}

.flex-right {
  flex: 0.3;
}
.flex-left {
  flex: 0.7;
}

.margin-left-10 {
  margin-left: 10px !important;
}

@media only screen and (max-width: 440px) {
  .flex-right {
    flex: 1;
  }
  .flex-left {
    flex: 1 !important;
  }
  .container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container_ribbon {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }

  .box_ribbon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box_ribbon p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .box_ribbon h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
