.box_flex-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.box_container {
  max-width: 440px !important;
  border: 3px solid #98061e;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.box_mobile-footer {
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.box_mobile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #fff;
  background-color: #98061e70;
  font-weight: 700;
}

.box_mobile-header p {
  margin-top: 2px !important;
  margin-bottom: 0px !important;
}
.box_mobile-header h5 {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}

.box_mobile-body {
  /* background-color: #1c2c46e3; */
  color: #fff;
  padding-bottom: 10px;
  /* background-color: #98061e70; */
}

.box_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pills-info img {
  width: 90px;
}
.promo-animation {
  position: relative;
  transition: opacity 0.3s;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.promo.circle-background {
  width: 7rem;
  height: 7rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #34bbad;
  border: 5px solid #f7f7f7;
}

.price_style {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
