.box_flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box_mobile-footer {
  background-color: #34bbad;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.box_mobile-header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* background-color: #34bbad; */
  background-color: #98061e;
}

.box_mobile-header p {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}
.box_mobile-header h5 {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}

.box_mobile-body {
  background-color: #1c2c46;
  color: #fff;
  padding-bottom: 10px;
}

.box_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
