.pillinfo_container {
  height: 670px;
  width: 410px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.pillinfo_container p {
  margin-top: 10px;
  font-weight: 600 !important;
  text-align: center;
}

.circle-background {
  width: 7rem;
  height: 7rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 440px) {
  .pillinfo_container {
    width: 320px !important;
    height: 400px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .pillinfo_container__header {
    width: 320px !important;
  }

  .pillinfo_container__body .desc {
    display: none;
  }
}

.pillinfo_container__header {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 410px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
}

.pillinfo_container__header-text {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
}

.pillinfo_container__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.pillinfo_container_button {
  display: block;
  border-style: none;
  border-radius: 64px;
  width: 230px;
  height: 40px;
  background: rgba(253, 118, 88, 1);
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
  background-repeat: no-repeat;
}

.pillinfo_container .content {
  text-align: center;
}
