.ripple {
  background-color: #fff;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.2),
     0 0 0 1rem rgba(255, 255, 255, 0.2),
      0 0 0 2rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.2),
       0 0 0 1rem rgba(255, 255, 255, 0.2),
      0 0 0 2rem rgba(255, 255, 255, 0);
  }
}
