.box_content{
  display: flex;
  align-items: center;
}

.margin-minus-left-fix{
  margin-left: -20px !important;
}

@media only screen and (max-width: 420px) {
  .box_content{
    width: 300px !important;
    height: 100px !important;
  }

  .client-img{
    height: 150px !important;
  }
}