.inline_sec6_style1 {
  padding: 50px 0;
  display: none;
  background: url(https://doko.md/img/covided.png) no-repeat center center /
    cover;
}

.box_content_300{
  display: flex;
  align-items: center;
  width: 300px !important;
}