.inline_blog_style1 {
  margin-top: -62px;
  background-image: linear-gradient(
    to right,
    rgb(228 165 67),
    rgb(241 199 132),
    rgb(238 193 124),
    rgb(229 179 100),
    rgb(233 177 89)
  );
}

.inline_blog_style2 {
  font-size: 12px;
  float: left;
  width: 40%;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
}

.inline_blog_style3 {
  font-size: 12px;
  float: right;
  width: 40%;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.inline_blog_style4 {
  font-size: 16px;
  float: left;
  width: 40%;
}

.inline_blog_style5 {
  font-size: 16px;
  float: right;
  width: 40%;
}

.inline_blog_style6 {
  margin-left: 5px;
  font-weight: 600;
}

.inline_blog_style7 {
  margin-top: -34%;
  width: 180px;
}

.inline_blog_style8 {
  margin-top: -62px;
  background-image: linear-gradient(
    to right,
    rgb(228 165 67),
    rgb(241 199 132),
    rgb(238 193 124),
    rgb(229 179 100),
    rgb(233 177 89)
  );
  margin-top: -113px;
}

.inline_blog_style9 {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}

.inline_blog_style10 {
  color: red;
  text-decoration: line-through;
}
