* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  text-decoration: none;
  background: 0 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

@media screen and (max-width: 440px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}

.border-1 {
  border: 1px solid #efecec;
}

.flex-container-row {
  display: flex;
}

.bg-theme-blue {
  background-color: #1c2c46;
}

.bg-theme-gray {
  background: #ece7e7;
}

.bg-theme-blue-gradient {
  background: linear-gradient(
    to right,
    #1c2c46,
    #1c2c46e3,
    #1c2c46d1,
    #1c2c46c2,
    #1c2c46
  );
}

.bg-theme-green {
  background-color: rgb(40, 195, 181);
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flex-row-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-bc {
  display: flex;
  justify-content: baseline;
  align-items:center;
}

.flex-row-sc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custtom-text-green {
  color: rgb(40, 195, 181);
}

.text-black {
  color: #000;
}

.flex-column-cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
